@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*
    https://github.com/tailwindlabs/tailwindcss/discussions/2394
    https://github.com/tailwindlabs/tailwindcss/pull/5732
*/
@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@layer base {
  :root {
    /* App root background */
    --root-background: 0 0% 100%;
    --background: 210 20% 98%;
    --foreground: 224 71% 4%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 224 71% 4%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 215 14% 34%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 218 11% 65%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 224 71% 4%;
    --destructive: 0 79% 63%;
    --destructive-foreground: 0 0% 100%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --highlight: 231 100% 78%;
    --ring: 216 12% 84%;

    --radius: 0.5rem;
  }

  .dark {
    /* App root background */
    --root-background: 235 7% 5%;

    /* Utility background (Buttons, inputs, etc) */
    --background: 230 7% 16%;
    --foreground: 220 9% 94%;

    /* Muted background (Skeletons, Avatar, tabs, etc) */
    --muted: 230 11% 8%;
    --muted-foreground: 219 6% 65%;

    --popover: 235 7% 5%;
    --popover-foreground: 220 9% 94%;

    --card: 235 7% 5%;
    --card-foreground: 220 9% 94%;

    --border: 223 7% 19%;
    --input: 223 7% 19%;

    --primary: 220 9% 94%;
    --primary-foreground: 240 4% 10%;

    /* Hover & active backgrounds (Nav buttons, etc) */
    --secondary: 230 7% 16%;
    --secondary-foreground: 218 7% 80%;

    /* Button background hovers */
    --accent: 230 7% 16%;
    --accent-foreground: 220 9% 94%;

    --destructive: 0 79% 63%;
    --destructive-foreground: 220 9% 94%;

    /* Selection & accent color */
    --highlight: 231 100% 78%;

    --ring: 230 9% 13%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-root text-foreground selection:bg-highlight/20 selection:text-highlight;
  }
}
