@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    /* App root background */
    --root-background: 230 35% 3%; /* #000000 */

    /* Utility background (Buttons, inputs, etc) */
    --background: 230 11% 12%; /* #0A0C10 | #060606*/ 
    --foreground: 210 40% 98%; /* #D6D6D6 */
    
    /* Muted background (Skeletons, Avatar, tabs, etc) */
    --muted: 230 11% 8%; /* #20242c */
    --muted-foreground: 215 6% 62%;
 
    --popover: 230 35% 3%; /* #0A0C10 */
    --popover-foreground: 210 40% 98%;

    --card: 230 35% 3%; /* #0A0C10 */
    --card-foreground: 210 40% 98%;
 
    --border: 222 9% 22%; /* #20242c */
    --input: 222 9% 22%; /* #20242c */
 
    --primary: 210 40% 98%;
    --primary-foreground: 230 35% 3%;
    
    /* Hover & active backgrounds (Nav buttons, etc) */
    --secondary: 227 11% 12%; /* #20242c */
    --secondary-foreground: 210 40% 98%;
    
    /* Button background hovers */
    --accent: 227 11% 15%; /* #20242c */
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    
    /* Selection & accent color */
    --highlight: 231 100% 78%;
 
    --ring: 230 9% 13%; /* #20242c */

    --radius: 0.5rem;
  }
 
  .light {
    /* App root background */
    --root-background: 0 0% 100%; /* #000000 */
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --highlight: 231 100% 78%;
    --ring: 240 5.9% 10%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-root text-foreground selection:bg-highlight/20 selection:text-highlight;
  }
}