@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    /* App root background */
    --root-background: 210 38% 95%; /* #000000 */

    --background: 0 0% 100%; 
    --foreground: 220 26% 14%;
 
    --muted: 210 38% 95%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 220 26% 14%;
 
    --card: 0 0% 100%;
    --card-foreground: 220 26% 14%;
 
    --border: 216 13% 84%;
    --input: 216 13% 84%;
 
    --primary: 220 26% 14%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 214 32% 91%;
    --secondary-foreground: 220 26% 14%;
 
    --accent: 230 30% 96%;
    --accent-foreground: 220 26% 14%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
 
    --ring: 215 20.2% 65.1%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    /* App root background */
    --root-background: 230 35% 3%; /* #000000 */

    /* Utility background (Buttons, inputs, etc) */
    --background: 230 11% 12%; /* #0A0C10 | #060606*/ 
    --foreground: 210 40% 98%; /* #D6D6D6 */
    
    /* Muted background (Skeletons, Avatar, tabs, etc) */
    --muted: 230 11% 8%; /* #20242c */
    --muted-foreground: 215 6% 62%;
 
    --popover: 228 38% 3%; /* #0A0C10 */
    --popover-foreground: 210 40% 98%;

    --card: 228 38% 3%; /* #0A0C10 */
    --card-foreground: 210 40% 98%;
 
    --border: 222 9% 22%; /* #20242c */
    --input: 222 9% 22%; /* #20242c */
 
    --primary: 210 40% 98%;
    --primary-foreground: 228 38% 3%;
    
    /* Hover & active backgrounds (Nav buttons, etc) */
    --secondary: 227 11% 12%; /* #20242c */
    --secondary-foreground: 210 40% 98%;
    
    /* Button background hovers */
    --accent: 227 11% 15%; /* #20242c */
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
 
    --ring: 230 9% 13%; /* #20242c */
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-root text-foreground;
  }
}